<div class="p-5">
<h1>Restaurants</h1>
<div>
  <% @restaurants.each do |restaurant| %>
    <p>
      <%= restaurant.name %>
      <%= link_to "Show this restaurant", restaurant_path(restaurant), class:"text-decoration-none btn btn-primary ms-3" %>
    </p>
  <% end %>
</div>

<%= link_to "New restaurant", new_restaurant_path, class:"text-decoration-none btn btn-success" %>
</div>
